.ikp-tagline {
  display: none;
}

.ikp-ai-chat-page-wrapper {
  color: #4c4a57;
  line-height: 1.5em;
}

.ikp-content-parser__code {
  background-color: var(--color-code-bg);
  border: 1px solid #e6e5ea;
  color: var(--color-primary);
  border-radius: 4px;
  font-style: mono;
  font-weight: 600;
  font-size: 14px;
  line-height: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ikp-content-parser__sup a {
  background: rgb(236, 199, 255);
  color: rgb(136, 0, 204);
  padding: 1px 4px;
  border-radius: 4px;
  font-weight: bold;
}

.ikp-codeblock-header {
  background: #fafafa;
  border: 1px solid #e6e5ea;
  color: #4c4a57;
}

.ikp-codeblock-header button {
  color: #777582;
}

.ikp-codeblock-header button:hover {
  color: #4c4a57;
}

.ikp-codeblock-highlighter {
  background-color: #f3f3f5 !important;
  color: #1b1a21;
  border: 1px solid #e6e5ea;
  border-top: none;
  line-height: 1.4em;
}
